In [5]:
####decision tree (titanic survivor prediction kaggle challenge)
### learning goals
##How to pre-process data?
#dropping not useful features
#filling the missing values (Data Imputation)
## Creating a Binary decision tree from scratch

In [6]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("./titanic/train.csv")

In [8]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
columns_to_drop = ["PassengerId", "Name", "Ticket", "Cabin", "Embarked"]

In [11]:
data_clean = data.drop(columns_to_drop, axis=1)
data_clean.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [12]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le = LabelEncoder()
data_clean["Sex"] = le.fit_transform(data_clean["Sex"])

In [16]:
data_clean.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [19]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(5)
memory usage: 48.9 KB

In [18]:
data_clean = data_clean.fillna(data_clean["Age"].mean())

In [21]:
data_clean.loc[0]

Survived     0.00
Pclass       3.00
Sex          1.00
Age         22.00
SibSp        1.00
Parch        0.00
Fare         7.25
Name: 0, dtype: float64

In [24]:
input_cols = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]
output_cols = ["Survived"]

X = data_clean[input_cols]
Y = data_clean[output_cols]

print(X.shape, Y.shape)

(891, 6) (891, 1)

In [25]:
def entropy(col):
    counts = np.unique(col, return_counts=True)
    N = float(col.shape[0])
    
    ent = 0.0
    for ix in counts[1]:
        p = ix/N
        ent += (-1.0*p*np.log2(p))
        
    return ent

In [29]:
col = np.array([1,1,1,1,0,1])
entropy(col)

0.6500224216483541

In [30]:
def divide_data(x_data, fkey, fval):
    x_right = pd.DataFrame([], columns=x_data.columns)
    x_left = pd.DataFrame([], columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
            
    return x_left, x_right

In [31]:
x_left, x_right = divide_data(data_clean[:10], "Sex", 0.5)
print(x_left, x_right)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
1       1.0     1.0  0.0  38.0    1.0    0.0  71.2833
2       1.0     3.0  0.0  26.0    0.0    0.0   7.9250
3       1.0     1.0  0.0  35.0    1.0    0.0  53.1000
8       1.0     3.0  0.0  27.0    0.0    2.0  11.1333
9       1.0     2.0  0.0  14.0    1.0    0.0  30.0708    Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0       0.0     3.0  1.0  22.000000    1.0    0.0   7.2500
4       0.0     3.0  1.0  35.000000    0.0    0.0   8.0500
5       0.0     3.0  1.0  29.699118    0.0    0.0   8.4583
6       0.0     1.0  1.0  54.000000    0.0    0.0  51.8625
7       0.0     3.0  1.0   2.000000    3.0    1.0  21.0750

In [34]:
def information_gain(x_data, fkey, fval):
    left, right = divide_data(x_data, fkey, fval)
    
    # %age of samples on left and right
    l = float(left.shape[0])/x_data.shape[0]
    r = float(right.shape[0])/x_data.shape[0]
    
    if left.shape[0] == 0 or right.shape[0] == 0:
        return -1000000
    
    i_gain = entropy(x_data.Survived) - (l*entropy(left.Survived) + r*entropy(right.Survived))
    
    return i_gain

In [35]:
for fx in X.columns:
    print(fx)
    print(information_gain(data_clean, fx, data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606142
Age
0.0008836151229467681
SibSp
0.009584541813400071
Parch
0.015380754493137694
Fare
0.042140692838995464

In [67]:
class DecisionTree:
    
    # constructor
    def __init__(self, depth=0, max_depth=5): #max_depth is a hyperparam (to reduce overfotting)
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        self.right = None
        
    def train(self, X_train):
        features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]
        info_gains = []
                    
        for ix in features:
            i_gain = information_gain(X_train, ix, X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making tree for feature ", self.fkey)
        
        # split data
        data_left, data_right = divide_data(X_train, self.fkey, self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
        
        # truely a leaf node
        if data_left.shape[0] == 0 or data_right.shape[0] == 0:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survived"
            else:
                self.target = "Dead"
            return
        
        # stop early when depth >= max_depth
        if self.depth >= self.max_depth:
            if X_train.Survived.mean() >= 0.5:
                self.target = "Survived"
            else:
                self.target = "Dead"
            return
        
        # recursive case
        self.left = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.left.train(data_left)
        self.right = DecisionTree(depth=self.depth+1, max_depth=self.max_depth)
        self.right.train(data_right)
        
        # set target at every node
        if X_train.Survived.mean() >= 0.5:
            self.target = "Survived"
        else:
            self.target = "Dead"
        return
    
    def predict(self, test):
        if test[self.fkey] > self.fval:
            # go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
            
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

In [68]:
### train - validation - test set

In [69]:
split = int(0.7*data_clean.shape[0])
train_data = data_clean[:split]
test_data = data_clean[split:]
test_data = test_data.reset_index(drop=True)

In [70]:
print(train_data.shape, test_data.shape)

(623, 7) (268, 7)

In [71]:
dt = DecisionTree()

In [72]:
dt.train(train_data)

Making tree for feature  Sex
Making tree for feature  Pclass
Making tree for feature  Age
Making tree for feature  SibSp
Making tree for feature  Pclass
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  SibSp
Making tree for feature  Parch
Making tree for feature  Pclass
Making tree for feature  SibSp
Making tree for feature  Fare
Making tree for feature  Parch
Making tree for feature  Age
Making tree for feature  Pclass
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Parch
Making tree for feature  SibSp
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Parch
Making tree for feature  Fare
Making tree for feature  Fare
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Fare
Making tree for feature  Parch
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Fare
Making tree for feature  Fare
Making tree for feature  SibSp
Making tree for feature  Fare
Making tree for feature  Age
Making tree for feature  Fare
Making tree for feature  Pclass
Making tree for feature  SibSp
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Pclass
Making tree for feature  Age
Making tree for feature  SibSp
Making tree for feature  Fare
Making tree for feature  SibSp
Making tree for feature  Age
Making tree for feature  Parch
Making tree for feature  SibSp
Making tree for feature  SibSp
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Age
Making tree for feature  Parch
Making tree for feature  Age
Making tree for feature  Age

In [75]:
print(dt.fkey)
print(dt.fval)
print(dt.left.fkey)
print(dt.right.fkey)

Sex
0.6292134831460674
Pclass
Fare

In [76]:
y_pred = []
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [77]:
y_actual = test_data[output_cols]

In [78]:
le = LabelEncoder()
y_pred = le.fit_transform(y_pred)

In [79]:
y_pred = np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(268, 1)

In [84]:
acc = np.sum((y_pred == y_actual))/y_pred.shape[0]

In [85]:
print(acc)

Survived    0.817164
dtype: float64

In [86]:
## decision tree using sklearn

In [87]:
from sklearn.tree import DecisionTreeClassifier

In [96]:
sk_tree = DecisionTreeClassifier(criterion="entropy", max_depth=5)

In [97]:
sk_tree.fit(train_data[input_cols], train_data[output_cols])

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [98]:
sk_tree.predict(test_data[input_cols])

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0])

In [99]:
sk_tree.score(test_data[input_cols], test_data[output_cols])

0.8283582089552238

In [100]:
### visualise decision tree

In [105]:
import pydotplus
from IPython.display import Image
from sklearn.tree import export_graphviz
import sklearn.externals as ext

In [108]:
dot_data = export_graphviz(sk_tree, filled=True, rounded=True)

In [109]:
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

InvocationException: GraphViz's executables not found

In [111]:
# random forests
# to prevent overfitting

In [ ]:
X_train = train_data[input_cols]
Y_train = train_data[output_cols]
X_test = test